<h1>hooba booga me up bby</h1>

<form action=" <%= session_url %> " method="post">
    <label> Username <br></label>
      <input type="text" name="user[username]"><br>
    <label> Password <br></label>
      <input type="password" name="user[password]">
    <input type="submit" value="Hook me up rn">
</form>

  
